@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {   
    box-sizing: border-box;
    font-family:'roboto',sans-serif;
    margin:0;
    padding:0;
}

h1 {
    text-align:center;
    margin-top:50px;
   
}

.btn-container {
    display:flex;
    justify-content: center;
    gap:5px;
}

.btn {
    padding: 5px 10px;
    margin-top:20px;
    width:100px;
    border-style:none;
    border:2px solid black;
    font-weight: bold;
}

.btn:hover{
    background-color: black;
    color:white;
}

.grid-container {   
    margin:50px auto;
    display: flex;
    flex-direction: column;
    width:500px;
    height:500px;
}

.row-container {
    display: flex;
    flex: 1;  
}

.box {

    background-color: gray;
    margin:1px;
    width:100%;
    flex:1;
   
}

.colored {
    background-color:black;
}
